.imgFirst,
.imgSecond {
  width: 400px;
  height: auto;
}

.myself {
  display: flex;
  margin-right: 1em;
}

.myself p {
  font-size: 2em;
  line-height: 1.5;
  margin-top: 0.2px;
  padding-left: 2em;
}

body {
  max-width: 70%;
  margin: 2em;
  padding: 1em;
}

.btn1 {
  background-color: red;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
}
.btn1 a {
  color: white;
  text-decoration: none;
}
.btn1:hover {
  transition: all 0.5s;
  background-color: blue;
}

.img2 {
  width: 200px;
  margin-right: 3em;
}
.best {
  display: flex;
  justify-content: space-around;
  margin-left: 6rem;
}
.best p {
  font-size: 1rem;
}
.homepage li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.aboutme {
  font-size: 1em;
  border: none;
  padding: 0.5em 1em;
  background-color: brown;
  color: white;
  text-decoration: none;
  border-radius: 1em;
}

button {
  margin-right: 1em;
}
